* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "spaceagecyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"),
    url("../fonts/spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto" "sans-serif";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto" "sans-serif";
  src: url("../fonts/Roboto-black.ttf") format("ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

$curves: 50px;

.container {
  margin: 0 auto;
  max-width: 350px;
}

@import "_header.scss";

@import "_navbar.scss";

@import "_main.scss";

@import "_about.scss";

@import "_slider.scss";

.footer {
  background-color: #222;
  position: relative;
  border-radius: 0px $curves $curves $curves;
  max-width: 768px;
  min-height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -50px;

  &::before {
    display: block;
    content: "";
    border-bottom-left-radius: $curves;
    top: -$curves;
    left: 0;
    background-color: transparent;
    box-shadow: -15px 15px 0px 15px #222;
    position: absolute;
    width: $curves;
    height: $curves;
    z-index: 1;
  }
}

.footer__list {
  width: 90%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  list-style: none;
}

.footer__list__item {
  width: 60px;
  height: 60px;
  background-color: #fff;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 2px 10px #2cb9b066;
    transition: 0.5s;
  }
}



//nxtpage






//mediaquery
@media (max-width: 450px) {
  .footer__list {}

  .footer__list__item:first-child::before {
    border-top-right-radius: 15px;
    top: 0px;
    left: -27px;
    height: 15px;
    width: 15px;
  }
}